
html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

body {
    /*padding-top: 3.4rem;*/
    padding-top: 4rem;
}

#main-bg {
    padding: 10rem 5rem;
    background-image: url("static/images/main-bg.png");
    background-position: center;
    background-repeat: no-repeat;
}
#main-name {
    text-shadow: 0px 2px 10px #000;
}

.text-link {
    color: var(--bs-purple);
}

.text-link:hover, .text-link:focus {
    color: #9f72f1;
}
.strap {
    color: var(--bs-purple);
}

.strap:hover, .strap:focus {
    color: #9f72f1;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media only screen and (max-width: 990px) {
  .rotate180 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
