---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const pageTitle = 'About me';
---

<BaseLayout title={ title }, pageTitle={ pageTitle }>
  <p class='mb-2'>
    I am currently a third-year PhD student at the University of Minnesota.
    I graduated in May 2020 with a Bachelors of Science in Applied Mathematics and
    a minor in Computer Science from San Diego State University. Outside of academics,
    I enjoy the outdoors and climbing!
  </p>
  <p>
    I am also a co-leader of the Council for the Advancement of Underrepresented
    Scientists and Engineers (CAUSE). We are dedicated to the recruitment, retention,
    and professional development of graduate students of color and first generation
    college students within the College of Science and Engineering.
  </p>
  <h2 class='text-xl mt-5 mb-2 underline'>What I'm up to</h2>
  <p>
    I am currently studying for the Complex Preliminary Exam and a supporting
    mentor for the PolyMath Jr. REU helping with the Ramsey Theory project.
  </p>
  <p class='mb-2'>
    I am currently a third-year PhD student at the University of Minnesota.
    I graduated in May 2020 with a Bachelors of Science in Applied Mathematics and
    a minor in Computer Science from San Diego State University. Outside of academics,
    I enjoy the outdoors and climbing!
  </p>
  <p>
    I am also a co-leader of the Council for the Advancement of Underrepresented
    Scientists and Engineers (CAUSE). We are dedicated to the recruitment, retention,
    and professional development of graduate students of color and first generation
    college students within the College of Science and Engineering.
  </p>
  <h2 class='text-xl mt-5 mb-2 underline'>What I'm up to</h2>
  <p>
    I am currently studying for the Complex Preliminary Exam and a supporting
    mentor for the PolyMath Jr. REU helping with the Ramsey Theory project.
  </p>
</BaseLayout>
