---
import Layout from '../layouts/Layout.astro';

const home: string = 'http://localhost:3000';
const projects: string = 'http://localhost:3000/projects';
---

<Layout title='Torres Dávila - About'>
  <main>
    <h1>About Me</h1>
    <a href={ home }>Go to home page</a>
    <a href={ projects }>Go to projects page</a>
    <p>
      A little more about me. I grew up in California. In the bay area.
    </p>
  </main>
</Layout>
