---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Research from '../components/Research.astro';
import Coding from '../components/Coding.astro';
import Teaching from '../components/Teaching.astro';
---

<Layout title="Eduardo Torres Dávila">
	<main>
    <Welcome />
    <hr class="w-1/2 text-gray"/>
    <Research />
    <Coding />
    <Teaching />
	</main>
</Layout>
