---
import Layout from '../layouts/Layout.astro';

const home: string = 'http://localhost:3000'
---

<Layout title='Torres Dávila - About'>
  <main>
    <h1>About Me</h1>
    <a href={ home }>Go back to home page</a>
    <p>
      A little more about me. I grew up in California. In the bay area.
    </p>
  </main>
</Layout>
