---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Hobbies';
const pageTitle = 'Hobbies';
---

<BaseLayout title={ title } pageTitle={ pageTitle }>
  <p>I will post about my hobbies here. I think this page should be pushed to
     the about me page</p>
</BaseLayout>
