---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Footer from "../components/Footer.astro";
import Mathematics from "../components/Mathematics.astro";
import Software from "../components/Software.astro";
import About from "../components/About.astro";
---

<Layout title="Eduardo Torres Dávila: Math Ph.D. Candidate/Software Engineer">
  <button
    id="to-top-button"
    class="hover:scale-110 transition-all duration-300 w-10 h-10 bg-white rounded-full fixed -right-12 bottom-6"
    onclick="scrollToTop()"
  >
    <i class="fa-regular fa-circle-up fa-2xl"></i>
  </button>
  <main id="content">
    <Welcome />
    <About />
    <Mathematics />
    <Software />
    <div id="teaching-container" class="font-display">
      <h1 id="teaching-heading" class="text-8xl p-24 font-bold">Teaching</h1>
      <h2
        id="current-course-heading"
        class="text-3xl font-bold mb-12 font-display border-b-2 border-grey-800 w-fit mx-24"
      >
        Current Course
      </h2>
      <div id="current-course-container" class="mx-24">
        <ul class="list-disc list-inside mb-24 text-2xl">
          <li>
            Math 1151: Precalculus II - Graduate Teaching Assistant <span
              class="italic text-xl text-grey-400 mb-1">(Spring 2024)</span
            >
          </li>
        </ul>
      </div>
      <h2
        id="prev-courses-heading"
        class="text-3xl font-bold mb-12 font-display border-b-2 border-grey-800 w-fit mx-24"
      >
        Previous Courses
      </h2>
      <div id="prev-courses-container" class="mx-24">
        <ul class="list-disc list-inside text-2xl mb-24">
          <li class="mb-6">
            Math 1151: Precalculus II - Graduate Teaching Assistant <span
              class="italic text-xl text-grey-400">(Fall 2023)</span
            >
          </li>
          <li>
            Math 1271: Calculus I - Graduate Teaching Assistant <span
              class="italic text-xl text-grey-400">(Spring 2022)</span
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- TODO: Add a community section to the page -->
    <!-- <div id="community-container"> -->
    <!--   <h1 id="community-heading" class="text-8xl p-24 font-display font-bold"> -->
    <!--     Community -->
    <!--   </h1> -->
    <!-- </div> -->
  </main>
  <Footer class="bg-grey-800 text-white" />
</Layout>

<script is:inline>
  const toTopButtonDiv = document.getElementById("to-top-button");

  window.addEventListener("scroll", function () {
    // TODO: Find a good breakpoint for this
    if (window.scrollY > 1000) {
      toTopButtonDiv.style.right = "1.5rem";
    } else {
      toTopButtonDiv.style.right = "-3rem";
    }
  });

  const scrollToTop = () => {
    window.scrollTo(0, 0);
  };
</script>
