---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import About from '../components/About.astro';
import Research from '../components/Research.astro';
import Coding from '../components/Coding.astro';
import Teaching from '../components/Teaching.astro';
---

<Layout title="Eduardo Torres Dávila">
	<main>
    <Welcome />
    <hr></hr>
    <About />
    <hr></hr>
    <Research />
    <hr></hr>
    <Coding />
    <hr></hr>
    <Teaching />
	</main>
</Layout>
