---
import BaseLayout from '../layouts/BaseLayout.astro';
import Welcome from '../components/Welcome.astro';
import Research from '../components/Research.astro';
import Coding from '../components/Coding.astro';
import Teaching from '../components/Teaching.astro';
---

<BaseLayout title={ 'Eduardo Torres Dávila - Portfolio' }>
  <div id='content' class='mx-32 mb-12 mt-0'>
    <Welcome />
    <Research />
    <Coding />
    <Teaching />
  </div>
</BaseLayout>
