---
import Layout from '../layouts/Layout.astro';
import HelloWorld from '../components/HelloWorld.tsx';

const about: string = 'http://localhost:3000/about'
---

<!-- This is how you pass things to the parent component -->
<Layout title='Torres Dávila - Portfolio'>
	<main>
		<h1>Welcome to My Website</h1>
    <HelloWorld client:load/>
    <a href={ about } class=''>Check out my about page!</a>
    <p>
      My name is Eduardo Torres Dávila and I like to do
      many things, but most of all I like to code my own fun projects and I like
      to learn new mathematics.
    </p>
	</main>
</Layout>
