---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Header from "../components/Header.astro";
import Research from "../components/Research.astro";
---

<Layout title="Eduardo Torres Dávila: Math Ph.D. Candidate/Software Engineer">
  <Header />
  <main id="content">
    <Welcome />
    <div id="about" >
    <h1 class="text-5xl">About Me</h1>
    </div>
    <Research />
    <div id="software" >
    <h1 class="text-5xl">Software</h1>
    </div>
    <div id="teaching" class="bg-grey-100" >
    <h1 class="text-5xl">Teaching</h1>
    </div>
    <div id="community" >
    <h1 class="text-5xl">Community</h1>
    </div>
  </main>
</Layout>
