---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Footer from "../components/Footer.astro";
import Mathematics from "../components/Mathematics.astro";
import Software from "../components/Software.astro";
import About from "../components/About.astro";
---

<Layout title="Eduardo Torres Dávila: Math Ph.D. Candidate/Software Engineer">
  <button
    id="to-top-button"
    class="hover:scale-110 transition-all duration-300 w-10 h-10 bg-white rounded-full fixed -right-12 bottom-6"
    onclick="scrollToTop()"
  >
    <i class="fa-regular fa-circle-up fa-2xl"></i>
  </button>
  <main id="content">
    <Welcome />
    <About />
    <Mathematics />
    <Software />
    <div id="teaching-container" class="pb-24">
      <h1 id="teaching-heading" class="text-8xl p-24 font-display font-bold">
        Teaching
      </h1>
      <h2
        id="current-course-heading"
        class="text-3xl font-display font-bold px-24 pb-6"
      >
        Current Course
      </h2>
      <div id="current-course-container" class="mx-24">
        <h2 class="font-display text-2xl mb-1">Spring 2024</h2>
        <ul class="list-disc list-inside mb-12">
          <li>Math 1151: Precalculus II - Graduate Teaching Assistant</li>
        </ul>
      </div>
      <h2
        id="prev-courses-heading"
        class="text-3xl font-display font-bold mx-24 mb-6"
      >
        Previous Courses
      </h2>
      <div id="prev-courses-container" class="mx-24">
        <h2 class="font-display text-2xl">Fall 2023</h2>
        <ul class="list-disc list-inside mb-6">
          <li>Math 1151: Precalculus II - Graduate Teaching Assistant</li>
        </ul>
        <h2 class="font-display text-2xl">Spring 2022</h2>
        <ul class="list-disc list-inside">
          <li>Math 1271: Calculus I - Graduate Teaching Assistant</li>
        </ul>
      </div>
    </div>
    <!-- TODO: Add a community section to the page -->
    <!-- <div id="community-container"> -->
    <!--   <h1 id="community-heading" class="text-8xl p-24 font-display font-bold"> -->
    <!--     Community -->
    <!--   </h1> -->
    <!-- </div> -->
  </main>
  <Footer class="bg-grey-800 text-white" />
</Layout>

<script is:inline>
  const toTopButtonDiv = document.getElementById("to-top-button");

  window.addEventListener("scroll", function () {
    // TODO: Find a good breakpoint for this
    if (window.scrollY > 1000) {
      console.log("getting scroll");
      toTopButtonDiv.style.right = "1.5rem";
    } else {
      toTopButtonDiv.style.right = "-3rem";
    }
  });

  const scrollToTop = () => {
    window.scrollTo(0, 0);
  };
</script>
