---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Header from "../components/Header.astro";
import Mathematics from "../components/Mathematics.astro";
import TechCard from "../components/TechCard.astro";
---

<Layout title="Eduardo Torres Dávila: Math Ph.D. Candidate/Software Engineer">
  <Header />
  <button
    id="to-top-button"
    class="hover:scale-110 transition-all duration-300 w-10 h-10 bg-white rounded-full fixed -right-12 bottom-6"
    onclick="scrollToTop()"
  >
    <i class="fa-regular fa-circle-up fa-2xl"></i>
  </button>
  <main id="content">
    <Welcome />
    <div id="about-container" class="bg-grey-100 flex p-24 gap-24">
      <div id="profile-img-container" class="w-64">
        <img src="profile_pic.jpeg" alt="Eduardo headshot" class="rounded-xl" />
      </div>
      <div id="about-content" class="text-lg flex-1">
        <div id="about-description" class="mb-12">
          <p class="mb-3 leading-8">
            Greetings! 👋 I am currently in my fourth year pursuing a Ph.D. at
            the University of Minnesota - Twin Cities. Under the guidance of <a
              href="https://www-users.cse.umn.edu/~cberkesc/"
              class="hover:text-grey-500 underline">Christine Berkesch</a
            >, I am mainly involved in the world of commutative algebra and
            algebraic geometry.
          </p>
          <p class="mb-3 leading-8">
            Outside of mathematics, I enjoy learning about new technologies and
            attempt to use this knowledge for mathematical research or building
            websites. Otherwise, you will find me reading a book, watching
            formula 1, or enjoying the outdoors.
          </p>
        </div>
        <div id="contact-cv" class="flex justify-start items-center gap-24">
          <ul id="contact-info">
            <li>
              Office:
              <a
                href="https://maps.app.goo.gl/JGG3AdJqALrMNiYf8"
                class="underline hover:text-grey-500"
                target="_blank">Vincent Hall 424</a
              >
            </li>
            <li>Email: torr680 [at] umn.edu</li>
          </ul>
          <div id="curriculum-vitae">
            <a href="etorresdavila_cv.pdf">
              <div
                class="hover:bg-grey-500 p-6 bg-grey-800 rounded-xl text-white font-display"
              >
                <span>Curriculum Vitae</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <Mathematics />
    <div id="software-container" class="pb-24 bg-grey-800 text-white">
      <h1 id="software-heading" class="text-8xl p-24 font-display font-bold">
        Software
      </h1>
      <h2
        id="software-tech-heading"
        class="text-3xl font-display font-bold px-24 pb-12"
      >
        Technologies
      </h2>
      <div
        id="software-tech-container"
        class="flex justify-between mx-24 mb-24"
      >
        <TechCard logo="/languages/python.svg" name="Python" />
        <TechCard logo="/languages/9planets.jpeg" name="Macaulay2" />
        <TechCard logo="/languages/javascript.svg" name="JavaScript" />
        <TechCard logo="/languages/sagemath.svg" name="SageMath" />
        <TechCard logo="/languages/java.svg" name="Java" />
      </div>
      <h2
        id="software-frameworks-heading"
        class="text-3xl font-display font-bold px-24 pb-12"
      >
        Frameworks/Libraries
      </h2>
      <div
        id="software-frameworks-container"
        class="flex justify-between mx-24 mb-24"
      >
        <TechCard logo="/frameworks/astro.svg" name="Astro" />
        <TechCard logo="/frameworks/matplotlib.svg" name="Matplotlib" />
        <TechCard logo="/frameworks/numpy.svg" name="NumPy" />
        <TechCard logo="/frameworks/react.svg" name="React" />
        <TechCard logo="/frameworks/tailwind_css.svg" name="TailwindCSS" />
        <TechCard logo="/frameworks/spring.svg" name="Spring" />
      </div>
      <h2
        id="latest-experience-heading"
        class="text-3xl font-display font-bold mx-24 mb-24"
      >
        Latest Experience
      </h2>
      <div></div>
      <h2
        id="latest-experience-heading"
        class="text-3xl font-display font-bold mx-24 mb-24"
      >
        Latest Project
      </h2>
    </div>
    <div id="teaching-container" class="pb-24">
      <h1 id="teaching-heading" class="text-8xl p-24 font-display font-bold">
        Teaching
      </h1>
      <h2
        id="current-course-heading"
        class="text-3xl font-display font-bold px-24 pb-12"
      >
        Current Course
      </h2>
      <div
        id="current-course-container"
        class="flex justify-between mx-24 mb-24"
      >
      </div>
      <h2
        id="prev-courses-heading"
        class="text-3xl font-display font-bold mx-24 mb-24"
      >
        Previous Courses Taught
      </h2>
      <div></div>
    </div>
    <div id="community-container">
      <h1 id="community-heading" class="text-8xl p-24 font-display font-bold">
        Community
      </h1>
    </div>
  </main>
</Layout>

<script is:inline>
  const toTopButtonDiv = document.getElementById("to-top-button");

  window.addEventListener("scroll", function () {
    // TODO: Find a good breakpoint for this
    if (window.scrollY > 1000) {
      console.log("getting scroll");
      toTopButtonDiv.style.right = "1.5rem";
    } else {
      toTopButtonDiv.style.right = "-3rem";
    }
  });

  const scrollToTop = () => {
    window.scrollTo(0, 0);
  };
</script>
