---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Portfolio';
const pageTitle = 'Welcome to my Website!';
---

<BaseLayout title={ title } pageTitle={ pageTitle }>
  <p>
    Hello! My name is Eduardo Torres Dávila and I am a programmer|mathematician.
  </p>
</BaseLayout>
