---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = 'Research';
const pageTitle = 'Research';
---

<BaseLayout title={ title } pageTitle={ pageTitle }>
  <h2 class='text-xl underline mb-2'>Research Interests</h2>
  <p>
    While at San Diego State, my main interest was in algebraic combinatorics.
    In particular, I studied relationships between numerical semigroups and polytopes
    under Dr. Christopher O'Neill. I also participated in MSRI-UP where I had the
    opportunity to work with Lie algebras under Dr. Pamela E. Harris. Since starting
    graduate school, I found myself drawn to the application of mathematics to real
    world problems and because of this I have started reading under Dr. Richard
    McGehee about the mathematics behind climate change.
  </p>
</BaseLayout>
