---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Teaching';
const pageTitle = 'Teaching';
---

<BaseLayout title={ title } pageTitle={ pageTitle }>
  <p>Important info for my classes will appear here.</p>
</BaseLayout>
