<div
  id="about-container"
  class="flex flex-wrap justify-center p-6 md:mx-12 md:p-12 gap-12"
>
  <div id="profile-img-container" class="w-64 min-w-48">
    <img src="profile_pic.jpeg" alt="Eduardo headshot" />
  </div>
  <div id="about-content" class="flex-1 flex flex-col justify-between">
    <div id="about-description" class="">
      <p class="mb-3 leading-6">
        Greetings! 👋 I am currently in my fifth year pursuing a Ph.D. in
        mathematics at the University of Minnesota - Twin Cities. Under the
        guidance of <a
          href="https://www-users.cse.umn.edu/~cberkesc/"
          class="hover:text-lightBlue-400 hover:no-underline text-lightBlue-600 underline decoration-2"
          >Christine Berkesch</a
        >, I am mainly involved in the world of commutative algebra and
        algebraic geometry. In particular, I am studying differential operators
        and their uses to describe toric geometry.
      </p>
      <p class="mb-3 leading-6">
        Outside of mathematics I enjoy learning about new technologies and
        attempt to use this knowledge for mathematical research or building
        websites. Otherwise, you will find me reading a book, watching formula
        1, or enjoying the outdoors.
      </p>
    </div>
    <div id="contact-cv" class="flex gap-3 justify-between">
      <ul id="contact-info">
        <li>
          Office:
          <a
            href="https://maps.app.goo.gl/JGG3AdJqALrMNiYf8"
            class="underline hover:no-underline hover:text-lightBlue-400 text-lightBlue-600"
            >Vincent Hall 424</a
          >
        </li>
        <li>Email: torre680 [at] umn [dot] edu</li>
      </ul>
      <div id="curriculum-vitae">
        <div class="text-white font-display relative group">
          <div
            class="w-full h-full absolute bg-grey-900 translate-x-1 translate-y-1"
          >
          </div>
          <a href="etorresdavila_cv.pdf">
            <span
              class="bg-red-400 h-full w-fit p-3 border-2 border-grey-900
              block relative transition group-hover:translate-y-1
              group-hover:translate-x-1"
              >Curriculum Vitae</span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
