---

---

<div id="about-container" class="bg-grey-100 flex p-24 gap-24">
  <div id="profile-img-container" class="w-64">
    <img src="profile_pic.jpeg" alt="Eduardo headshot" class="rounded-xl" />
  </div>
  <div id="about-content" class="text-lg flex-1 flex flex-col justify-between">
    <div id="about-description" class="">
      <p class="mb-3 leading-6">
        Greetings! 👋 I am currently in my fourth year pursuing a Ph.D. at the
        University of Minnesota - Twin Cities. Under the guidance of <a
          href="https://www-users.cse.umn.edu/~cberkesc/"
          class="hover:text-grey-500 underline">Christine Berkesch</a
        >, I am mainly involved in the world of commutative algebra and
        algebraic geometry.
      </p>
      <p class="mb-3 leading-6">
        Outside of mathematics, I enjoy learning about new technologies and
        attempt to use this knowledge for mathematical research or building
        websites. Otherwise, you will find me reading a book, watching formula
        1, or enjoying the outdoors.
      </p>
    </div>
    <div id="contact-cv" class="flex justify-start items-center gap-24">
      <ul id="contact-info">
        <li>
          Office:
          <a
            href="https://maps.app.goo.gl/JGG3AdJqALrMNiYf8"
            class="underline hover:text-grey-500"
            target="_blank">Vincent Hall 424</a
          >
        </li>
        <li>Email: torr680 [at] umn.edu</li>
      </ul>
      <div id="curriculum-vitae">
        <a href="etorresdavila_cv.pdf">
          <div
            class="hover:bg-grey-500 p-6 bg-grey-800 rounded-xl text-white font-display"
          >
            <span>Curriculum Vitae</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
