---
/*
 * Accordion panel. Single element of an Accordion
 */

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div>
  <button
    class="accordion w-full text-left font-display
    text-xl lg:text-2xl transition duration-200 before:content-['+'] border-b-2 border-white
    before:float-left lg:py-3 before:pr-3 hover:border-b-grey-800"
    >{title}</button
  >
  <div class="mb-6 max-h-0 overflow-hidden transition-all duration-500 lg:text-xl">
    <slot />
  </div>
</div>

<style>
  .active:before {
    content: "\2212";
  }
</style>

<script>
  let acc = document.getElementsByClassName("accordion");

  for (let i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      let activeSections = document.getElementsByClassName("active");
      if (activeSections.length != 0 && !this.isEqualNode(activeSections[0])) {
        let activeSection = activeSections[0];
        activeSection.classList.toggle("active");
        activeSection.classList.toggle("border-b-grey-800");
        let activePanel = activeSection.nextElementSibling;
        activePanel.style.maxHeight = null;
      }
      this.classList.toggle("active");
      this.classList.toggle("border-b-grey-800");
      let panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>
