---
/*
 * Accordion panel. Single element of an Accordion
 */

interface Props {
  title: string;
  details: string;
}

const { title, details } = Astro.props;
---

<div>
  <button
    class="accordion bg-grey-500 text-red-100 p-6 w-full text-left font-display text-2xl transition after:content-['\\002B'] after:text-red-100 after:float-right"
    >{title}</button
  >
  <div
    class="bg-green-50 px-12 max-h-0 overflow-hidden transition-all duration-500"
  >
    <p class="py-12">{details}</p>
  </div>
</div>

<style>
  .active:after {
    content: "\2212";
  }
</style>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>

<!-- <style> -->
<!--   .accordion:after { -->
<!--     content: "\002B"; -->
<!--     margin-left: 5px; -->
<!--   } -->
<!--   .accordion { -->
<!--     transition: 0.4s; -->
<!--   } -->
<!--   .panel { -->
<!--     transition: max-height 0.2s ease-out; -->
<!--   } -->
<!-- </style> -->
