---
interface Props {
  authors: string[][];
}

const { authors } = Astro.props;
const totalAuthors = authors.length;
---

<ul class="mb-6">
  <li class="inline text-xl">In collaboration with:</li><!--
  -->{
    authors.map((author, i) => (
      <li class="inline text-xl">
      <a href={author[1]} class={ author[1] && "underline decoration-wavy hover:text-lightBlue-400 text-lightBlue-600"}>{author[0]}</a><!--
        -->{i < totalAuthors - 2 && ","}<!--
        -->{i === totalAuthors - 1 && ""}<!--
        -->{i === totalAuthors - 2 && totalAuthors !== 2 && ", and"}<!--
        -->{i === totalAuthors - 2 && totalAuthors === 2 && " and"}
      </li>
    ))
  }<!--
-->
</ul>
