---
interface Props {
  title: string;
  details: string;
}

const { title, details } = Astro.props;
---

<div class="flex-auto basis-5/12 min-w-64">
  <div class="font-display text-xl border-b border-grey-800">{title}</div>
  <div class="font-sans my-3">{details}</div>
</div>
