---
interface Props {
  title: string;
  details: string;
}

const { title, details } = Astro.props;
---

<div class="flex-auto basis-5/12 min-w-72">
  <div class="font-display text-xl lg:text-2xl border-b border-grey-800">{title}</div>
  <div class="font-sans my-3 lg:text-xl">{details}</div>
</div>
