---
interface Props {
  title: string;
  details: string;
}

const { title, details } = Astro.props;
---

<div class="border rounded-lg">
  <div class="font-display">{title}</div>
  <div class="font-sans">{details}</div>
</div>
