---
interface Props {
  title: string;
  details: string;
}

const { title, details } = Astro.props;
---

<div class="bg-green-50 flex-1 basis-1/2 min-w-96 flex flex-col justify-start">
  <div class="font-display text-2xl border-b border-grey-800">{title}</div>
  <div class="border">{details}</div>
</div>
