---
interface Props {
  title: string;
  details: string;
}

const { title, details } = Astro.props;
---

<div class="flex-1 basis-5/12 min-w-[28rem] flex flex-col justify-start">
  <div class="font-display text-2xl border-b border-grey-800">{title}</div>
  <div class="font-sans my-3">{details}</div>
</div>
