---
---

<div id='coding' class='text-5xl font-display mt-24 bg-gray rounded-3xl'>
  <div class='h-screen bg-teal w-32'></div>
  <div class='h-screen bg-olive w-32'></div>
</div>

<script>

  import { gsap } from 'gsap';
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to("#coding", {
    scrollTrigger: {
      trigger: '#coding',
      start: 'top top',
      end: '+=100',
      markers: true,
      scrub: 1
    },
    marginLeft: '-6rem',
    marginRight: '-6rem',
  });

  gsap.to("#coding", {
    scrollTrigger: {
      trigger: '#coding',
      start: 'bottom bottom',
      end: '+=100',
      markers: true,
      scrub: 1
    },
    immediateRender: false,
    marginLeft: '0rem',
    marginRight: '0rem',
  });

</script>
