---
const { class: classNames } = Astro.props;

const d = new Date();
let year = d.getFullYear();
---

<footer
  class:list={[
    classNames,
    "flex-col flex items-center p-12 text-sm text-center",
  ]}
>
  <div>
    <p>&copy; {year}, Eduardo Torres Dávila</p>
  </div>
  <div class="font-display text-sm text-grey-300">
    <span>Last update:</span>
    <span id="git-last-commit-date">June 08, 2024</span>
  </div>
</footer>
