<div id='footer' class='w-full text-gray-100 h-20 flex justify-between
                        items-center mt-auto'>
  <p>Email: torre680[at]umn.edu | Office: Vincent Hall 424</p>
  <ul id='icon-container'>
    <i class='fa-brands fa-github fa-2xl mr-2'></i>
    <i class='fa-brands fa-linkedin fa-2xl mr-2'></i>
    <i class='fa-brands fa-facebook fa-2xl'></i>
  </ul>
</div>
