<div>
  <div
    class="hamburger transition-all duration-300 fixed right-6 top-6 rounded-lg cursor-pointer bg-white p-0.5 w-10 h-10 group z-10 flex flex-col gap-1 justify-center items-center"
  >
    <span
      class="block rounded-xl w-6 h-1 transition bg-grey-800 group-[.active]:w-7 group-[.active]:rotate-45 group-[.active]:translate-y-2"
    ></span>
    <span
      class="block rounded-xl w-6 h-1 transition bg-grey-800 group-[.active]:opacity-0"
    ></span>
    <span
      class="block rounded-xl w-6 h-1 transition bg-grey-800 group-[.active]:w-7 group-[.active]:-rotate-45 group-[.active]:-translate-y-2"
    ></span>
  </div>
  <div></div>
  <!-- <button -->
  <!--   class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit" -->
  <!--   onclick="handleScroll('about-container')" -->
  <!-- > -->
  <!--   About -->
  <!-- </button> -->
  <!-- <button -->
  <!--   class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit" -->
  <!--   onclick="handleScroll('mathematics-container')" -->
  <!-- > -->
  <!--   Mathematics -->
  <!-- </button> -->
  <!-- <button -->
  <!--   class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit" -->
  <!--   onclick="handleScroll('software-container')" -->
  <!-- > -->
  <!--   Software -->
  <!-- </button> -->
  <!-- <button -->
  <!--   class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit" -->
  <!--   onclick="handleScroll('teaching-container')" -->
  <!-- > -->
  <!--   Teaching -->
  <!-- </button> -->
</div>

<script is:inline>
  const hamburger = document.querySelector(".hamburger");

  hamburger.addEventListener("click", mobileMenu);

  function mobileMenu() {
    hamburger.classList.toggle("active");
  }
  const handleScroll = (divId) => {
    let divElement = document.getElementById(divId);
    window.scrollTo(0, divElement.offsetTop);
  };
</script>
