<!-- <header class="justify-end flex items-center h-12 pr-12"> --><!--   <span class="group hover:text-lightBlue-500 cursor-pointer"> --><!--     Biography <i class="fa-solid fa-arrow-right-long"></i> --><!--   </span> --><!-- </header> --><!-- <div class="h-48"></div> -->
