<div class='w-full bg-gray-700 text-gray-100 h-20 flex justify-start items-center'>
  <ul>
    <a class='inline-block mx-5 hover:text-amber-500' href='/'>
      <li>Home</li>
    </a><a class='inline-block mr-5 hover:text-amber-500' href='/about'>
      <li>About</li>
    </a><a class='inline-block mr-5 hover:text-amber-500' href='/research'>
      <li>Research</li>
    </a>
    </a><a class='inline-block mr-5 hover:text-amber-500' href='/projects'>
      <li>Projects</li>
    </a>
  </ul>
</div>
