<div id='nav-bar' class=''>
  <ul class='flex flex-start items-end mt-10'>
    <a class='bg-red-400 rounded-t-lg py-2 px-5' href='/'>
      <li>Home</li>
    </a>
    <div class='w-2 h-8 bg-red-400'>
      <div class='w-2 h-8 bg-amber-50 rounded-bl-md'></div>
    </div>
    <a class='bg-blue-400 rounded-t-lg py-2 px-5' href='/about'>
      <li>Research</li>
    </a>
    <div class='w-2 h-8 bg-amber-50'></div>
    <a class='bg-pink-400 rounded-t-lg py-2 px-5' href='/research'>
      <li>Projects</li>
    </a>
    <div class='w-2 h-8 bg-amber-50'></div>
    <a class='bg-teal-400 rounded-t-lg py-2 px-5' href='/projects'>
      <li>Teaching</li>
    </a>
    <div class='w-2 h-8 bg-amber-50'></div>
    <a class='bg-lime-400 rounded-t-lg py-2 px-5' href='/teaching'>
      <li>About</li>
    </a>
  </ul>
</div>

<script>
  // const navBar = document.getElementById('nav-bar');

  // const updateNavBar = () => {
  //   if (window.scrollY === 0) {
  //     navBar?.classList.remove('border-b', 'border-zinc-700');
  //   } else {
  //     navBar?.classList.add('border-b', 'border-zinc-700');
  //   }
  // };

  // window.addEventListener("load",updateNavBar,false) 
  // window.addEventListener('scroll', updateNavBar);
</script>
