<div class='top-1/2 -translate-y-1/2 fixed flex flex-col justify-around
            border-r border-white h-3/4 w-32 pl-5'>
  <a>Home</a>
  <a>Research</a>
  <a>Projects</a>
  <a>Teaching</a>
  <a>About</a>
</div>
