---
---

<nav class="flex flex-grow justify-between py-6">
  <div id="website-icon" class="flex items-center w-12 h-12 group">
    <div id="rect" class="transition-all duration-500 bg-gray w-3.5 h-3.5 rounded-full group-hover:h-12"></div>
    <div class="flex flex-col justify-between ml-0.5 h-12">
      <div id="top-circ" class="bg-teal rounded-full w-3.5 h-3.5"></div>
      <div id="mid-circ" class="bg-coral rounded-full w-3.5 h-3.5"></div>
      <div id="bot-circ" class="bg-olive rounded-full w-3.5 h-3.5"></div>
    </div>
  </div>
  <ul class="flex items-center">
    <li class="inline px-12 underline decoration-2">Home</li>
    <li class="inline px-12">Work</li>
    <li class="inline px-12">About</li>
  </ul>
</nav>
