<div class='fixed top-0 left-0 h-screen w-32 pl-5 border-r border-gray-300
            bg-gray-200 flex flex-col justify-center gap-12'>
  <a href='/#home-section' class='hover:text-sky-500 transition duration-500'>Home</a>
  <a href='/#research-section' class='hover:text-sky-500 transition duration-500'>Research</a>
  <a href='/#coding-section' class='hover:text-sky-500 transition duration-500'>Coding</a>
  <a href='/#teaching-section' class='hover:text-sky-500 transition duration-500'>Teaching</a>
</div>
