<div class='top-1/2 -translate-y-1/2 fixed flex flex-col justify-around
            border-r border-white h-3/4 w-32 pl-5 z-10'>
  <a href='#home-section'>Home</a>
  <a href='#research-section'>Research</a>
  <a href='#coding-section'>Programming</a>
  <a href='#teaching-section'>Teaching</a>
  <a href='#about-section'>About</a>
</div>
