---
---

<nav class="flex flex-grow justify-between py-6">
  <span>Eduardo Torres Davila</span>
  <ul class="flex items-center">
    <li class="inline px-12 underline decoration-2">Home</li>
    <li class="inline px-12">Work</li>
    <li class="inline px-12">About</li>
  </ul>
</nav>
