---
const { project } = Astro.props;
const { id, title, authors, githubLink, mainLink } = project;
const numOfAuthors = authors && authors.length;
---

<a href={mainLink ? mainLink : githubLink}>
  <div id={ id } class='group mb-6 h-52 p-12 border-slate-700 border-2 rounded-lg flex items-center gap-12 transition duration-500
    hover:bg-gray-200 hover:scale-105 hover:shadow-2xl'>
    <i class='fa-solid fa-code text-7xl' />
    <div>
      <p class='text-xl font-display block mb-6 transition duration-500 group-hover:text-sky-600'>{ title }</p>
      <span>In collaboration with</span>
      { numOfAuthors === 2 && authors.map((author, i) => i != numOfAuthors - 1 && <span>{ author }</span>) }
      { numOfAuthors != 2 && authors.map((author, i) => i != numOfAuthors - 1 && <span>{ author }, </span>) }
      { authors && <span>{numOfAuthors != 1 ? '&' : '' } { authors[numOfAuthors - 1] }.</span> }
    </div>
  </div>
</a>
