---
import Card from './Card.astro';
---

<div class='h-screen mt-24'>
  <div class='flex justify-center gap-12 mb-24'>
    <Card 
      title='Differential operators' 
      iconBg='bg-teal'
      icon='df/dx'
      details='Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet.'
      linkUrl='https://en.wikipedia.org/wiki/Differential_operator'
    />
    <Card 
      title='Semigroup Algebras' 
      iconBg='bg-coral'
      icon='/y2-xz_v2.png'
      details='Here is a blurb to see the details about this thing'
      linkUrl='https://en.wikipedia.org/wiki/Differential_operator'
    />
    <Card 
      title='Grobner Bases' 
      iconBg='bg-olive'
      icon='LT(I)'
      details='Here is a blurb to see the details about this thing'
      linkUrl='https://en.wikipedia.org/wiki/Gr%C3%B6bner_basis'
    />
  </div>

  <h1 class="text-3xl font-display mb-12">Latest Publication</h1>
</div>
