---
import Card from './Card.astro';
import Publication from './Publication.astro';
---

<div id='research' class='mb-32'>
  <div class='flex gap-3 items-center mb-3'>
    <div class='h-6 w-6 bg-teal rounded-full'></div>
    <h1 class='text-5xl font-display text-teal font-bold'>Mathematics</h1>
  </div>
  <div class='text-lg border-teal border rounded-3xl bg-teal bg-opacity-10 p-6 mb-24'>
    <p class='mb-3'>
      Greetings! 👋 I am currently in my fourth year pursuing a Ph.D. at the University of Minnesota - Twin Cities, delving into the fascinating realms of commutative algebra and algebraic geometry. Under the guidance of <a href='https://www-users.cse.umn.edu/~cberkesc/' class='hover:text-teal underline'>Christine Berkesch</a>, I am dedicated to advancing my expertise in these fields.
    </p>
    <p>
    My academic journey has been shaped by a profound interest in combinatorics, which took root during my undergraduate years. My exploration in this area began in earnest during my third year at SDSU, where I engaged in research under the mentorship of <a href='https://cdoneill.sdsu.edu/' class='hover:text-teal underline'>Christopher O'Neill</a>. This collaboration extended until my graduation, and during this period, I actively contributed to the exploration of Numerical Semigroups, approaching the subject from both combinatorial and geometric perspectives.
    </p>
  </div>
  <div class='flex justify-center gap-12 mb-24'>
    <Card 
      title='Differential operators' 
      iconBg='bg-teal'
      icon='df/dx'
      details='Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet.'
      linkUrl='https://en.wikipedia.org/wiki/Differential_operator'
    />
    <Card 
      title='Semigroup Algebras' 
      iconBg='bg-coral'
      icon='/y2-xz_v2.png'
      details='Here is a blurb to see the details about this thing'
      linkUrl='https://en.wikipedia.org/wiki/Differential_operator'
    />
    <Card 
      title='Grobner Bases' 
      iconBg='bg-olive'
      icon='LT(I)'
      details='Here is a blurb to see the details about this thing'
      linkUrl='https://en.wikipedia.org/wiki/Gr%C3%B6bner_basis'
    />
  </div>

  <h1 class="text-4xl font-display mb-12">Latest Publication</h1>
  <Publication 
    title='Numerical semigroups, polyhedra, and posets III: minimal presentations and face dimension'
    authors={['Christopher O\'Neill', 'Tara Gomes']}
    arxivLink='https://arxiv.org/abs/2009.05921'
    journalTitle='The Electronic Journal of Combinatorics'
    journalLink='https://www.combinatorics.org/ojs/index.php/eljc/article/view/v30i2p57'
    abstract='This paper is the third in a series of manuscripts that examine the combinatorics of the Kunz polyhedron Pm, whose positive integer points are in bijection with numerical semigroups (cofinite subsemigroups of ℤ≥0) whose smallest positive element is m. The faces of Pm are indexed by a family of finite posets (called Kunz posets) obtained from the divisibility posets of the numerical semigroups lying on a given face. In this paper, we characterize to what extent the minimal presentation of a numerical semigroup can be recovered from its Kunz poset. In doing so, we prove that all numerical semigroups lying on the interior of a given face of Pm have identical minimal presentation cardinality, and we provide a combinatorial method of obtaining the dimension of a face from its corresponding Kunz poset.'
  />
  <button class='mt-24 text-xl rounded-full bg-offwhite px-6 py-3'>View all publications</button>
</div>
