---
import Publication from './Publication.astro';

const publications = [
  {
    id: 'sgps-II',
    title: 'Numerical semigroups, polyhedra, and posets II: locating certain families of semigroups',
    authors: ['Jackson Autry', 'Abigail Ezell', 'Tara Gomes', 'Chistopher O\'Neill', 'Chistopher Preuss', 'Tarang Saluja'],
    journal: 'Journal of Advances in Geometry',
    isPublished: true,
    articleLink: 'https://www.degruyter.com/document/doi/10.1515/advgeom-2021-0024/html',
    pubType: 'article'
  },
  {
    id: 'sgps-III',
    title: 'Numerical semigroups, polyhedra, and posets III: minimal presentations and face dimension',
    authors: ['Tara Gomes', 'Chris', 'Another Person'],
    journal: 'Electronic Journal of Combinatorics',
    isPublished: true,
    articleLink: 'https://www.combinatorics.org/ojs/index.php/eljc/article/view/v30i2p57',
    pubType: 'article'
  },
  {
    id: 'lie-algebras',
    title: 'Visualizing the support of Kostant\'s weight multiplicity formula for the rank two Lie algebras',
    authors: ['Pamela', 'Marissa'],
    journal: 'Involve',
    isPublished: false,
    articleLink: 'https://arxiv.org/abs/1908.08405',
    pubType: 'article'
  }
];

---

<div id='research-section' data-link-name='Research' class='section mt-12'>
  <div id='research-header' class='font-display w-full h-6 mb-12 border-b border-slate-700'>
    <span class='text-4xl font-bold bg-gray-100 pr-10'>
      Research
    </span>
  </div>
  <div id='research-interest-container' data-link-name='Research Interest' class='sub-section mb-6'>
    <h3 class='text-2xl mb-3 font-display underline'>Research Interest</h3>
    <p>
      While at San Diego State, my main interest was in algebraic combinatorics. In particular,
      I studied relationships between numerical semigroups and polytopes under Dr. Christopher
      O'Neill. I also participated in MSRI-UP where I had the opportunity to work with Lie algebras
      under Dr. Pamela E. Harris. Since starting graduate school, I found myself drawn to the application
      of mathematics to real world problems and because of this I have started reading under Dr.
      Richard McGehee about the mathematics behind climate change.
    </p>
  </div>
  <div id='publications-container' data-link-name='Publications' class='sub-section'>
    <h3 class='text-2xl mb-3 font-display underline'>Publications</h3>
    { publications && publications.map(pub => <Publication publication={ pub } />) }
  </div>
</div>
