---
import TechCard from "./TechCard.astro";
import Experience from "./Experience.astro";
import Project from "./Project.astro";
---

<div id="software-container" class="p-6 sm:p-12 lg:px-24 hidden">
  <h1
    id="software-heading"
    class="text-4xl sm:text-5xl md:text-6xl font-display font-bold mb-12"
  >
    Software
  </h1>
  <h2
    id="software-tech-heading"
    class="text-xl sm:text-2xl lg:text-3xl font-bold mb-12 font-display border-b-2 border-grey-800 w-fit"
  >
    Technologies
  </h2>
  <div
    id="software-tech-container"
    class="flex flex-wrap justify-between mb-24 gap-y-12"
  >
    <TechCard logo="/languages/python.svg" name="Python" />
    <TechCard logo="/languages/sagemath.svg" name="SageMath" />
    <TechCard logo="/languages/9planets.jpeg" name="Macaulay2" />
    <TechCard logo="/languages/javascript.svg" name="JavaScript" />
    <TechCard logo="/languages/typescript.svg" name="TypeScript" />
    <TechCard logo="/languages/java.svg" name="Java" />
  </div>
  <h2
    id="software-frameworks-heading"
    class="text-xl sm:text-2xl lg:text-3xl font-bold mb-12 font-display border-b-2 border-grey-800 w-fit"
  >
    Frameworks/Libraries
  </h2>
  <div
    id="software-frameworks-container"
    class="flex flex-wrap justify-between mb-24 gap-y-12"
  >
    <TechCard logo="/frameworks/matplotlib.svg" name="Matplotlib" />
    <TechCard logo="/frameworks/numpy.svg" name="NumPy" />
    <TechCard logo="/frameworks/astro_dark.svg" name="Astro" />
    <TechCard logo="/frameworks/react.svg" name="React" />
    <TechCard logo="/frameworks/tailwind_css.svg" name="TailwindCSS" />
    <TechCard logo="/frameworks/spring.svg" name="Spring" />
  </div>
  <h2
    id="latest-experience-heading"
    class="text-xl sm:text-2xl lg:text-3xl font-display font-bold mb-12 border-b-2 border-grey-800 w-fit"
  >
    Previous Work
  </h2>
  <Experience
    class="font-display mb-24 flex gap-12"
    employer="Amazon"
    jobTitle="Software Engineer Intern"
    dates="June 2023 - September 2023"
    technologies={[
      { logo: "/languages/typescript.svg", name: "Typescript" },
      { logo: "/languages/java.svg", name: "Java" },
    ]}
    frameworks={[
      { logo: "/frameworks/react.svg", name: "React" },
      { logo: "/frameworks/spring.svg", name: "Spring" },
    ]}
    details="Full stack web development using a great range of technologies. Extensive exposure to AWS services like DynamoDB, S3, and Lambda to handle and process big datasets. Constant development in the Java programming language for working on the backend infrastructure of team's services. Development on frontend applications using technologies like React to create responsive and dynamic pages for customers."
  />
  <h2
    id="latest-project-heading"
    class="text-xl sm:text-2xl lg:text-3xl font-display font-bold mb-12 border-b-2 border-grey-800 w-fit"
  >
    Latest Project
  </h2>
  <Project
    id="arxiv-game"
    class="font-display flex md:gap-12"
    title="ArXiv Game"
    websiteLink="https://tranquil-starship-92a3ed.netlify.app/"
    websiteLinkTitle=""
    projectImageFiles={["arxivGame_still.png"]}
    githubLink="https://github.com/etdavila10/arxiv-sandbox"
    technologies={[{ logo: "/languages/javascript.svg", name: "JavaScript" }]}
    frameworks={[{ logo: "/frameworks/react.svg", name: "React" }]}
    developer={["Aaron Li", "https://sites.google.com/umn.edu/aaronli"]}
    details="A simple online game where one tries to find the more recent arXiv article. Try it out yourself!"
  />
</div>
