---
const { name, logo, website } = Astro.props;
---

<a href={ website }>
  <div class='h-56 w-56 p-6 flex-col flex justify-between text-center items-center'>
    <img class='h-32' src={ logo }/>
    <h2 class='text-xl'>{ name }</h2>
  </div>
</a>
