---
const { name, logo, website } = Astro.props;
---

<div class='box'>
  <a href={ website } target='_blank' class='absolute rounded-full bg-coral text-white w-12 h-12 flex justify-center items-center right-1 top-1 text-xl hover:scale-110 transition duration-500'><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
  <div class='rounded-full bg-coral border-2 border-coral bg-opacity-10 h-48 w-48 p-6 flex-col flex gap-3 justify-center text-center items-center'>
    <img class='h-24' src={ logo }/>
    <h2 class='text-xl font-display'>{ name }</h2>
  </div>
</div>
