---
import headshot from '../images/profile-pic-web.jpeg'; 
---
<div id='home-section'>
  <h1 id='home-header' class='first-letter:text-6xl text-5xl uppercase font-bold mb-6'>
    Welcome!
  </h1>
  <div id='welcome-content-headshot-container' class='flex flex-row flex-nowrap
                                                      justify-between'>
    <div id='welcome-content-container'>
      <div id='name-content-container'>
        <p class='text-lg'>My name is</p>
        <p class='text-3xl'>Eduardo Torres Dávila</p>
      </div>
      <div id='identity-container'>
        <p class='text-lg'>I am a</p>
        <p class='text-3xl'>Graduate Student</p>
      </div>
    </div>
    <div id='headshot-container' class='w-96'>
      <img id='headshot' class='w-fit' src={ headshot } alt="Eduardo's Headshot">
    </div>
  </div>
</div>
