<div class="h-[calc(100vh-4rem)] grid grid-cols-2 content-center">
  <div class="text-start">
    <h1 class="text-8xl mb-2 font-bold">Eduardo</h1>
    <h1 class="text-8xl mb-8 font-bold">Torres D&aacutevila</h1>
    <h2 class="text-4xl mb-24">Math PhD Candidate/Software Engineer</h2>
    <div>
      <button class="inline-block bg-teal text-3xl p-6 text-white font-bold">GET IN TOUCH</button>
      <ul class="inline-block text-3xl ml-6">
        <a class="inline mx-2"><i class="fa-brands fa-github fa-xl"></i></a>
        <a class="inline mx-2"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a class="inline mx-2"><i class="fa-brands fa-facebook fa-xl"></i></a>
      </ul>
    </div>
  </div>
  <div class="">
    <div class="h-96 w-80 bg-teal m-auto"/>
  </div>
</div>
<svg class="-z-10 absolute top-0 left-[calc(49.75%)]" viewbox="-2 0 200 300" id="tealpath">
  <path
    style="fill-opacity:0;
           stroke:#333333;
           stroke-width:4px;
           stroke-linecap:round;
           stroke-linejoin:round;
           stroke-dasharray: 420;
           stroke-dashoffset: 0;
           animation: dash 4s ease;"
     d="M 0,0 V 200 H 250"
     id="path3" />
  <path
    style="fill-opacity:0;
           stroke:#ee8e11;
           stroke-width:4px;
           stroke-linecap:round;
           stroke-linejoin:round;
           stroke-dasharray: 420;
           stroke-dashoffset: 0;
           animation: dash 4.5s ease;"
     d="M 3,0 V 197 H 250"
     id="path3" />
  <path
    style="fill-opacity:0;
           stroke:#2da99e;
           stroke-width:4px;
           stroke-linecap:round;
           stroke-linejoin:round;
           stroke-dasharray: 420;
           stroke-dashoffset: 0;
           animation: dash 5s ease;"
     d="M 6,0 V 194 H 250"
     id="path3" />
</svg>

<style>
@keyframes dash {
  from {
    stroke-dashoffset: 420;
  }
  to {
    stroke-dashoffset: 0;
  }
}
</style>
