<div class="flex items-center justify-center h-screen">
  <div class="flex flex-col items-center flex-shrink-0 pr-12">
    <h1 class="font-display text-5xl mb-4">Eduardo Torres D&aacutevila</h1>
    <h2 class="font-display text-2xl">
      Math Ph.D. Candidate & Software Engineer
    </h2>
    <div class="flex gap-3 text-grey-500">
      <a href="https://github.com/etdavila10" target="_blank" class="">
        GitHub <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
      <a href="https://www.linkedin.com/in/etorres10/" target="_blank" class="">
        LinkedIn <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </div>
  </div>
  <div class="border-l-2 border-lightBlue-500 flex-col flex pl-8 text-xl">
    <a
      class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit"
      href="#about-container"
    >
      About
    </a>
    <a
      class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit"
      href="#mathematics-container"
    >
      Mathematics
    </a>
    <a
      class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit"
      href="#software-container"
    >
      Software
    </a>
    <a
      class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1"
    >
      Teaching
    </a>
    <span
      class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1"
    >
      Community
    </span>
  </div>
</div>
