<div class="flex flex-col items-center justify-center h-screen bg-green-50">
  <div class="flex flex-col items-center">
    <h1 class="font-display">
      Eduardo Torres D&aacutevila
    </h1>
    <h2 class="font-display">
      Math Ph.D. Candidate & Software Engineer
    </h2>
    <div class="flex gap-6">
      <a
        href="https://github.com/etdavila10"
        class="underline decoration-2 hover:no-underline hover:text-lightBlue-400 text-lightBlue-600"
      >
        GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/etorres10/"
        class="underline decoration-2 hover:text-lightBlue-400 hover:no-underline text-lightBlue-600"
      >
        LinkedIn
      </a>
    </div>
  </div>
  <button class="border bg-purple-100" onclick="mathSoftToggle()">Math/Software</button>
</div>

<script is:inline>
  const mathSoftToggle = () => {
    const softwareSection = document.getElementById("software-container");
    const mathSection = document.getElementById("mathematics-container");
    const teachingSection = document.getElementById("teaching-container");
    softwareSection.classList.toggle("hidden");
    mathSection.classList.toggle("hidden");
    teachingSection.classList.toggle("hidden");
  }
</script>