<div class="flex items-center justify-center h-screen">
  <div class="flex flex-col items-center flex-shrink-0 pr-12">
    <h1 class="font-display text-5xl mb-4">Eduardo Torres D&aacutevila</h1>
    <h2 class="font-display text-2xl mb-1">
      Math Ph.D. Candidate & Software Engineer
    </h2>
    <div class="flex gap-6">
      <a
        href="https://github.com/etdavila10"
        target="_blank"
        class="block text-lg relative underline hover:text-grey-500"
      >
        GitHub
        <div
          class="absolute w-5 h-5 top-0 -right-4 flex items-center justify-center text-xs"
        >
          <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i>
        </div>
      </a>
      <a
        href="https://www.linkedin.com/in/etorres10/"
        target="_blank"
        class="block text-lg relative underline hover:text-grey-500"
      >
        LinkedIn
        <div
          class="absolute w-5 h-5 top-0 -right-4 flex items-center justify-center text-xs"
        >
          <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i>
        </div>
      </a>
    </div>
  </div>
  <div class="border-l-2 border-lightBlue-500 flex-col flex pl-8 text-xl">
    <button
      class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit"
      onclick="handleScroll('about-container')"
    >
      About
    </button>
    <button
      class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit"
      onclick="handleScroll('mathematics-container')"
    >
      Mathematics
    </button>
    <button
      class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit"
      onclick="handleScroll('software-container')"
    >
      Software
    </button>
    <button
      class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit"
      onclick="handleScroll('teaching-container')"
    >
      Teaching
    </button>
    <!-- TODO: Include community section -->
    <!-- <button -->
    <!--   class="hover:text-grey-500 hover:scale-110 cursor-pointer transition my-1 w-fit" -->
    <!--   onclick="handleScroll('community-container')" -->
    <!-- > -->
    <!--   Community -->
    <!-- </button> -->
  </div>
</div>

<script is:inline>
  const handleScroll = (divId) => {
    let divElement = document.getElementById(divId);
    window.scrollTo(0, divElement.offsetTop);
  };
</script>
