---
import Scatter from './Scatter.astro';
---

<div class="grid grid-cols-2 content-center">
  <div class="text-start mt-32 m-auto">
    <h1 class="text-8xl mb-2 font-bold">Eduardo</h1>
    <h1 class="text-8xl mb-16 font-bold">Torres D&aacutevila</h1>
    <h2 class="text-4xl mb-32">Math PhD Candidate/Software Engineer</h2>
    <div>
      <button class="inline-block bg-teal text-3xl p-6 text-white font-bold">GET IN TOUCH</button>
      <ul class="inline-block text-3xl ml-6">
        <a class="inline mx-2"><i class="fa-brands fa-github fa-xl"></i></a>
        <a class="inline mx-2"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a class="inline mx-2"><i class="fa-brands fa-facebook fa-xl"></i></a>
      </ul>
    </div>
  </div>
  <div class="flex align-middle">
    <div class="m-auto p-12">
      <Scatter/>
      <!-- <img class="w-[32rem]" src="/profile_pic.jpeg"/> -->
    </div>
  </div>
</div>
