---
import Scatter from './Scatter.astro';
---

<div class="mb-32 flex items-center h-screen-sans-header relative">
  <div class="text-start font-display">
    <h1 class="text-8xl mb-2 font-bold font-display">Eduardo</h1>
    <h1 class="text-8xl mb-16 font-bold font-display">Torres D&aacutevila</h1>
    <h2 class="text-4xl mb-32">Math PhD Candidate/Software Engineer</h2>
    <div>
      <button class="inline-block bg-teal rounded-full text-3xl p-6 text-white font-bold">Get in touch</button>
      <ul class="inline-block text-3xl ml-6">
        <a class="inline mx-2"><i class="fa-brands fa-github fa-xl"></i></a>
        <a class="inline mx-2"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a class="inline mx-2"><i class="fa-brands fa-facebook fa-xl"></i></a>
      </ul>
    </div>
  </div>
  <Scatter />
</div>
