---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Projects';
const pageTitle = 'Projects';
const activeTab = 'projects';
---

<BaseLayout title={ title } pageTitle={ pageTitle } activeTab={ activeTab }>
  <p>
    Here are some of my projects that I am really happy with.
  </p>
  <ul>
    <li>Project 1</li>
    <li>Project 2</li>
  </ul>
</BaseLayout>
