---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
import '@fontsource/playfair-display'
import '@fontsource/playfair-display/700.css'

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class='scroll-smooth'>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <script src="https://kit.fontawesome.com/9730b2ac3e.js" 
            crossorigin="anonymous"></script>
		<title>{title}</title>
	</head>
	<body class='bg-gray-100 text-slate-700 font-serif'>
    <Navigation />
    <main id='page-container' class='ml-32'>
      <slot />
      <Footer />
    </main>
	</body>
</html>
